SQL_SERVER=127.0.0.1
SQL_DATABASE=MOCK_DB
SQL_USER=demo_user
SQL_PWD=demo_password
SQL_DRIVER=ODBC Driver 17 for SQL Server
DB_NAME=persistence.db
MOCK_DATABASE=True
ML_MODEL_PATH=backend/ml/models/waste_predictor.joblib
